{% extends "layout.html" %}

{% block contents %}

<div class="container">
<div style="text-align: center;">
    <span>Data Science Project By : </span><br/>
    <img src="https://nos.jkt-1.neo.id/aditiastorage/asset/logo/almira-tech-full-square.png" style="width: 300px;">
    <p>Project ini diperuntukkan untuk penelitian, riset & kebutuhan akademik. Tidak diperkenanankan untuk mengkomersialisasikan project ini, segala kesalahan analisa data tidak menjadi tanggung jawab pengembang. <br/>
        Jika merasa terbantu dengan project ini dapat memberikan apresiasi berupa donasi melalui link dibawah ini <br/>
        <a href="https://saweria.co/haxorsprogramming">
            <img src="https://ik.imagekit.io/ebunga/haxors/Base/saweria.png?ik-sdk-version=javascript-1.4.3&updatedAt=1642493732443" width="120px">
            <br/>Saweria
        </a>
    </p>
</div>
</div>

{% endblock contents %}