{% extends "layout.html" %}

{% block contents %}

<div class="container">
      <div class="px-4 py-5 my-5 text-center">
          <img class="d-block mx-auto mb-4" src="https://nos.jkt-1.neo.id/aditiastorage/asset/ilustrasi/Teacher-bro.png" alt="" width="430">
          <h1 class="display-5 fw-bold">Aplikasi klasifikasi bunga menggunakan Machine Learning</h1>
          <div class="col-lg-6 mx-auto">
            <h4 style="margin-bottom: 20px;">
                CNN (Convulutional Neural Network)
            </h4>
            <div class="d-grid d-sm-flex justify-content-sm-center">
              <a href="{{ BASE_URL }}/dataset" class="btn btn-warning btn-lg px-4 gap-3">Mulai Klasifikasi</a>
            </div>
          </div>
        </div>
  </div>
{% endblock contents %}