{% extends "layout.html" %}

{% block contents %}
<div class="container">
    <div style="text-align: center;">
        <img src="https://nos.jkt-1.neo.id/aditiastorage/asset/ilustrasi/Work-time-pana.png" style="width:500px;">
        <h3>Training dataset</h3>
        <p>Proses training data diperlukan untuk membuat model CNN, model ini nantinya akan dipakai untuk melakukan klasifikasi jenis bunga pada data uji yang baru. 
            Dataset tersimpan di folder <code>static/dataset</code>. Sebelum melakukan proses training, pastikan dataset telah sesuai dengan label/kelas. Sebelum melakukan testing,
            harap pastikan apakah pengecekan terhadap dataset dibawah telah sesuai. 
        </p>
        <p>
            Jika pengecekan dataset dibawah ini telah sesuai, maka proses training data dapat dilakukan, waktu proses training data akan dipengaruhi oleh beberapa hal berikut :
            <b>total kelas, total dataset, spek laptop/pc, & total epoch</b>, khusus untuk epoch akan ditentukan secara konstanta, nilai ini dapat diubah melalui kode program.
        </p>
        <hr/>
        <div style="text-align: center;" id="divBtnDataset">
            <a href="javascript:void(0)" class="btn btn-success" id="btnCekDataset" onclick="cekDatasetAtc()">Cek dataset</a>
        </div>
        <div style="text-align: center;" id="divHasilPengecekan">
            <h5 id="capHasilPengecekan"></h5>
        </div>

    </div>
</div>

<script>

    var urlCekDataset = "{{ BASE_URL }}/proses-cek-dataset";

    function cekDatasetAtc()
    {
        $("#btnCekDataset").hide();
        document.querySelector("#divBtnDataset").innerHTML = "<h5>Melakukan pengecekan dataset ....</h5>";
        setTimeout(function(){
            
        }, 3000);
    }

</script>

{% endblock contents %}